.backgroundImage2 {
    background-image: url("/support.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    /* Adjust the width as needed */
    .backgroundImage2 {
        background-image: url("/connect.jpg"); /* Different image for mobile */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
