.backgroundImage2 {
    background-image: url("/support.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    /* Adjust the width as needed */
    .backgroundImage2 {
        background-image: none;
    }
}
