.backgroundImage3 {
    background-image: url("https://res.cloudinary.com/dish3pp6i/image/upload/v1731143671/faq_l66fes.avif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
